/* CSS for the MicroProject website */
/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #013220;
  color: #ffffff;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.Navigation {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.062);
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.Navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  white-space: nowrap;
  margin: 10px;
  font-size: 30px;
  font-weight: 750;
  color: #f5f5dc;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #f5f5dc;
  border-radius: 5px;
  transition: 0.3s ease;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav_links li a {
  text-decoration: none;
  color: #f5f5dc;
  font-weight: 700;
  transition: all 0.3s ease;
}

.nav_links li a:hover {
  transform: scale(1.1);
  color: #5dc59e;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav_links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 10px;
  }

  .nav_links.active {
    display: flex;
  }
}

#home {
  padding-top: 20px;
}

.container {
  margin: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.text-section {
  max-width: 600px;
  padding: 40px;
}

.main-title {
  color: gold;
  font-size: 48px;
}

.tagline {
  color: #ffffff;
  font-style: italic;
  margin-bottom: 20px;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.6;
}

button {
  background-color: gold;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.info {
  padding-top: 50px;
  margin: auto;
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
}

.wcu h2 {
  font-size: xx-large;
  padding: 10px;
  color: gold;
  padding: 50px;
}

.info_para {
  padding: 50px;
  width: 600px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.8;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image-section {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  text-align: center;
}

.image-section img {
  max-width: 70%;
  border-radius: 10px;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  gap: 2rem;
  padding: 30px 14% 70px;
}

.box {
  text-align: center;
  padding: 43px;
  border-radius: 3rem;
  background-color: #096543;
  height: 200px;
  flex: 1;
  min-width: 150px;
}

.box img {
  width: 100%;
  max-width: 40px;
  height: auto;
  transition: all 0.7s ease;
}

.box h3 {
  color: gold;
  margin-bottom: 10px;
}

#shop {
  text-align: center;
  padding: 50px 20px;
  width: 100%;
  overflow: hidden;
}

#shop h2 {
  color: gold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#shop h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.product-container {
  padding: 20px;
  display: flex;
  gap: 25px;
  width: 400%;
  overflow: hidden;
  animation: slider 50s linear infinite;
}

.product-card {
  background-color: #096543;
  border-radius: 20px;
  padding: 20px;
  width: 220px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  color: #ccc;
  height: 40px;
}

.price {
  font-size: 18px;
  color: orange;
  margin: 10px 0;
}

.order-btn {
  background-color: orange;
  border: none;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.order-btn:hover {
  background-color: #ff8c00;
  transform: scale(1.05);
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

.product-container:hover {
  animation-play-state: paused;
}
.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#customer {
  text-align: center;
  padding: 50px 20px;
  margin-top: 50px;
}

#customer h2 {
  color: gold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#customer h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.testimonial-card {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 0 10px #000000;
  text-align: left;
}

.testimonial-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.user-info span {
  font-size: 12px;
  color: #aaa;
}

.stars {
  color: orange;
  margin-top: 10px;
  font-size: 18px;
}

/*Form*/

.contact-section {
  display: flex;
  align-items: center;
  background-color: #096543;
}
.order-section {
  padding: 40px 20px;
  margin: auto;
  width: 400px;
  border-radius: 15px;
  font-family: "Segoe UI", sans-serif;
}

.order-section h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #eeeaea;
}

.order-form input,
.order-form textarea,
.order-form select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.order-form button {
  background: #e67e22;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.order-form button:hover {
  background: #d35400;
}


/*Contact*/

#contact {
  height: 100%;
  text-align: center;
  padding: 60px 20px;
  background-color: #096543;

}

#contact-section h2 {
  font-size: 32px;
  font-weight: bold;
 
}

.description {
  max-width: 800px;
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;

}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 1rem;
}

.social-icons .icon {
  width: 50px;
  height: 50px;
  color: #fff;
  background: #222;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  text-decoration: none;
}

.social-icons .icon:hover {
  transform: scale(1.2) rotate(10deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.icon.instagram:hover {
  background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
}
.icon.facebook:hover {
  background: #3b5998;
}

.icon.phone:hover {
  background: #1421d4;
}

/*Responsive Code*/
@media screen and (max-width: 815px) {
  .logo {
    margin-bottom: 17px;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }
  .contact-section {
    flex-direction: column;
    align-items: center;
  }
}

/* For Mobile with width up to 430px */
@media (max-width: 430px) {
  .logo {
    margin-bottom: 17px;
    font-size: 22px;
  }
  .nav_links {
    gap: 1rem;
    font-size: 15px;
  }

  .text-section {
    padding: 20px;
  }

  .main-title {
    font-size: 32px;
  }

  .tagline {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .info_para {
    width: auto;
    padding: 20px;
    font-size: 14px;
  }

  .image-section img {
    max-width: 100%;
    height: auto;
  }

  .product-card {
    margin: auto;
  }

  .product-card h3 {
    font-size: 15px;
    margin: 10px 0;
  }
  .wcu h2 {
    font-size: 24px;
    padding: 20px;
  }

  .testimonial-card {
    margin: auto;
  }
  .order-section {
    width: 90%;
    padding: 20px;
  }
}

@media (min-width: 430px) and (max-height: 932px) {
  .nav_links {
    gap: 1rem;
    font-size: 15px;
  }
}
